body{
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header{
    height: 60px;
    background-color:rgb(39, 43, 43);
}

section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.task-list{
    margin-top: 3%;
}

li{
    display: flex;
    height: 40px;
    align-items: center;
    border: solid 1px;
    border-color: rgb(220, 220, 220);
    margin-top: 1px;
}

span{
    margin-left: 10px;
}

button{
    background-color: rgb(8, 109, 181);
    transition: background-color 100ms linear 0s; 
}

button:hover{
    background-color: rgb(43, 138, 193);
}

.delete-btn{
    border-radius: 5px;
    background-color: transparent;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.completed {
    text-decoration: line-through; /* Зачеркиваем текст */
    color: #aaa; /* Меняем цвет на более тусклый */
}

svg{
    height: 20px;
    width: 20px;
}